html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background-color: rgb(190, 174, 139);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
* {
    box-sizing: border-box;
}
.edzok a:hover {
    transform: scale(1.05);
}
.edzok a:hover img {
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.edzok a {
    width: 33.333%;
    padding: 15px 15px 45px 15px;
    height: auto;
    display: inline-block;
    float: left;
    transition: all .5s;
}

.edzok img {
    width: auto;
    height: auto;
    transition: all .5s;
    max-height: 450px;
}

h1, h2 {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #493822;
}

a {
    text-decoration: none;
    font-style: italic;
    color: #493822;
    font-size: 35px;
}
