body {
    background-color:#efc794;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #926e40;
}

hr {
   border: none;
   border-top: 1px solid rgb(95, 61, 16); 
} 

table {
    width:100%
}

td {
    font-style: italic;
    border-bottom: #3a2a15 1px solid;
}

a {
    color:rgb(173, 120, 50);
}

li {
    font-style: initial;
    list-style-type: circle;
}

.kiemelt {
    color: sienna; 
    font-style: italic;
}